<header class="center global clearfix">
  <a href ="/"><h1 class="brand left">SNP<b class="logo">y</b></h1></a>
  <nav class = "right">
    <ul>
      <li><button class="btn-nav"><a href="/genres/index">Genre</button></a></li>
      <% if signed_in? %><li><button class="btn-nav"><a href="/users/profile">Profile</a></button></li><% end %>
      <li>
        <% if signed_in? %>
          <button class="btn"><%= link_to "sign out", session_path, method: :delete %></button>
        <% else %>
          <button class="btn"><%= link_to "sign in", new_session_path %></button>
          <button class="btn"><%= link_to "sign up", new_user_path %></button>
        <% end %>
      </li>
    <br clear="all">
  </nav>
</header>
