<header class="global" id = "site_nav">
  <a href ="/"><h1 class="brand left">SNP<b class="logo">y</b></h1></a>
  <nav class = "right nav-right">
    <ul class="inline">
        <% if signed_in? %>
          <li> <a class= "btn-nav">about</a></li>
          <li><a class= "btn-nav"> mission</a></li>
          <li><a href = "/user/profile" class= "btn-nav"> profile</a></li>
          <li><button class="btn"><%= link_to "SIGN OUT", session_path, method: :delete %></button></li>
        <% else %>
          <li> <a class= "btn-nav">about</a></li>
          <li><a class= "btn-nav"> mission</a></li>
          <li><button class="btn"><%= link_to "SIGN IN", login_path, id: "home-login" %></button></li>
          <li><button class="btn"><%= link_to "SIGN UP", new_user_path, class: "signup" %></button></li>

        <% end %>
    </ul>
    <br clear="all">
  </nav>
  <br clear="all">
</header>




