<%= form_for :session, url: login_path do |f| %>
<h2>Login</h2>
<ul class = "login_errors">
  <li></li>
</ul>
  <%= f.email_field :email, :placeholder => "Email", :class => "form-field email" %>
  <%= f.password_field :password, :placeholder => "Password",  :class => "form-field password" %>
  <%= f.submit "login", :class => "submit form-btn" %>
<% end %>
