<%= form_for :session, url: login_path do |f| %>
<h2>Login</h2>
<ul class = "login_errors">
  <li></li>
</ul>
	<div>
  	<%= f.email_field :email, :placeholder => "Email", :class => "form-field email" %>
	</div>
	<div>
  	<%= f.password_field :password, :placeholder => "Password",  :class => "form-field password" %>
	</div>
	<div>
  	<%= f.submit "login", :class => "submit form-btn" %>
	</div>
<% end %>
