<div class="partial_form clear-fix center">
<%= form_for :session, url: login_path do |f| %>
<h2 class="h2">Login</h2>
<ul class = "login_errors">
  <li></li>
</ul>

	<div>
    <%= f.email_field :email, :placeholder => "Email", :class => "form_field" %>
  </div>
  <div>
    <%= f.password_field :password, :placeholder => "Password",  :class => "form_field" %>
  </div>
  <div>
    <%= f.submit "SUBMIT",  :class => "btn" %>
  </div>
<% end %>
</div>
