<div class="partial_form clear-fix">
<%= form_for :session, url: login_path do |f| %>
<h2 class="h2">Login</h2>
<ul class = "login_errors">
  <li></li>
</ul>

	<div>
		<label class="form_label" for="pub_url">Email</label>
    <%= f.email_field :email, :placeholder => "Email", :class => "form_field email" %>
  </div>
  <div>
  	<label class="form_label" for="pub_url">Password</label>
    <%= f.password_field :password, :placeholder => "Password",  :class => "form_field password" %>
  </div>
  <div>
    <%= f.submit "login",  :class => "btn" %>
  </div>
<% end %>
</div>
