<% unless current_page?(root_path) %>
<div id = "site_nav">

<nav>
  <ul class = "links">
    <% if current_user %>
    <li><%= link_to "logout", logout_path %></li>
    <li><%= link_to "profile", user_path(session[:user_id]) %></li>
    <% else %>
    <li><%= link_to "login", '#', class: "login" %></li>
    <li><%= link_to "sign up", '#', class: "signup" %></li>
    <% end %>
  </ul>
</nav>
</div>
<% end %>
