<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
<div class = "mega_div" id="showgraph">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	<h1 class="h1 thin-column right">Welcome to Your Genome </h1>

	<ul>
	<li>
	<div class = "left col_1" id="chartoptions">
		<% if current_user.genomes %>
			<div id = "home_search">
			  <%= form_tag("/search", method: "get", :class => "width") do %>
				    <%= text_field_tag :search, params[:search], :placeholder => "enter illness", id: "box", class: "form_field" %>
				  <i id='search-button' class="fa fa-search" style="margin-left: -20px"></i>
				<% end %>
			</div>

	<div ng-app>
		<section ng-init="tab=1">
			<ul class= "nav nav-pills">
				<li ng-class="{ active:tab === 1 }">
					<button ng-click ="tab=1" class="chartbutton btn top" id="positive10" href="/search/bottom_10"> Lowest Disease Risks </button>
				</li>
				<li ng-class="{ active:tab === 2 }">
					<button ng-click ="tab=2" class="chartbutton btn bottom" id="negative10" href="/search/top_10"> Highest Disease Risks </button>
				</li>
				<li ng-class="{ active:tab === 3 }">
					<button ng-click ="tab=3" class="chartbutton btn zoom" id="zoombutton" href="/sunburst"> All Disease Risks </button>
				</li>
			</ul>
		</section>
		<br>


		<div class = "panel description" ng-show="tab === 1">
		  <div><b class="description-h">Low Disease Risks</b></div>
		  <br>
		  <br>
		  <div>
		  	This is an interactive visuali- zation of your risk levels for vari- ous diseases. The inner most layer sorts your risks by <b> Category</b>. The middle layer sorts your risks by <b> Diseases</b>. The outer most layer displays each SNP (address within your genome) that matched a known risk level for a particular disease. There are two SNP risk types.
		 		<ol>
		 			<br>
			  	<li>1 - <b class ="green">GREEN</b> outer segment: Indicates that you have a <b>LOWER</b> risk (depending on size) for developing a particu- lar disease.</li>
			  	<br>
			  	<li>2 - <b class ="red">RED</b> and Small outer segement: Indicates that you have a <b>HIGHER</b> risk (depend- ing on size) for developing a particular disease.</li>
		  	</ol>
		  </div>
		</div>
		<div class = "panel description" ng-show="tab === 2">
		  <div><b class="description-h">High Disease Risks</b></div>
		  <br>
		  <br>
		  <div>
		  	This is an interactive visuali- zation of your risk levels for vari- ous diseases. The inner most layer sorts your risks by <b> Category</b>. The middle layer sorts your risks by <b> Diseases</b>. The outer most layer displays each SNP (address within your genome) that matched a known risk level for a particular disease. There are two SNP risk types.
		 		<ol>
		 			<br>
			  	<li>1 - <b class ="green">GREEN</b> outer segment: Indicates that you have a <b>LOWER</b> risk (depending on size) for developing a particu- lar disease.</li>
			  	<br>
			  	<li>2 - <b class ="red">RED</b> and Small outer segement: Indicates that you have a <b>HIGHER</b> risk (depend- ing on size) for developing a particular disease.</li>
		  	</ol>
		  </div>
		</div>

		<div class = "panel description" ng-show="tab === 3">
		  <div><b class="description-h">All Disease Risks</b></div>
		  <br>
		  <br>
		  <div>
		  	This is an interactive visuali- zation of your risk levels for vari- ous diseases. The inner most layer sorts your risks by <b> Category</b>. The middle layer sorts your risks by <b> Diseases</b>. The outer most layer displays each SNP (address within your genome) that matched a known risk level for a particular disease. There are two SNP risk types.
		 		<ol>
		 			<br>
			  	<li>1 - <b class ="green">GREEN</b> outer segment: Indicates that you have a <b>LOWER</b> risk (depending on size) for developing a particu- lar disease.</li>
			  	<br>
			  	<li>2 - <b class ="red">RED</b> and Small outer segement: Indicates that you have a <b>HIGHER</b> risk (depend- ing on size) for developing a particular disease.</li>
		  	</ol>
		  </div>
		</div>
	</div>


		<% else %>
		  <p>Please upload genome, <%= current_user.first_name %></p>
		<% end %>
	</div>
	</li>
	<li>
	<div class = "col_2 right" id="zoomable_sunburst">
	</div>
	</li>
	</ul>
	<br clear="all">


</div>



