
<script>
  window.sunburstData = <%= current_user.sunburst.to_json.html_safe %>
  window.topTenData = <%= current_user.search_top_diseases_by_risk_level.to_json.html_safe %>
  window.bottomTenData = <%= current_user.search_bottom_diseases_by_risk_level.to_json.html_safe %>

</script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
<div ng-app>
<section ng-init="tab=3">
  <ul class= "nav nav-pills">
    <li class="btn" ng-class="{ active:tab === 1 }">
      <a href ng-click ="tab=1">Top Ten</a>
    </li>
    <li class="btn" ng-class="{ active:tab === 2 }">
      <a href ng-click ="tab=2">Buttom Ten</a>
    </li>
    <li class="btn" ng-class="{ active:tab === 3 }">
      <a href ng-click ="tab=3" >Zoom Zoom</a>
    </li>
  </ul>
</section>


<div class = "panel" ng-show="tab === 1">
  <h2>Top Ten</h2>
  <div id="zoomable_sunburst_angular_top">
  </div>
</div>
<div class = "panel" ng-show="tab === 2">
  <h2>Bottom Ten</h2>
  <div id="zoomable_sunburst_angular_buttom">
  </div>
</div>
<div class = "panel" ng-show="tab === 3">
  <h2>Zoom Zoom</h2>
  <div id="zoomable_sunburst_angular_zoom">
  </div>
</div>



</div>