/*
Nav Bar
*/

$index: rgba(0, 0, 0, 1);

$nav-links: Verdana, sans-serif;
$nav-bar-color: rgba(0, 0, 0, 0.9);
$nav-bar-color-index: rgba(0, 0, 0, 0.6);
$footer-bar: rgba(0,0,0,0.9);

$max-width: 960px;
$min-width: 320px;

$primary-color: #345975;
$primary-light: #89aeca;

$secondary-color: rgba(35, 69, 119, 1);
$alt-color: rgba(40, 69, 119, 1);
$alt-color-light: rgba(40, 69, 119, .8);
$background-color: rgba(228, 228, 228, 0.51);


$white: rgba(255, 255, 255, 1);

$sans-serif-font: 'Raleway';
$serif-font: 'Josefin Slab';

$light-blue: rgba(93, 173, 243, 0.9);

