/*
Nav Bar
*/

$index: rgba(0, 0, 0, 1);

$nav-links: Verdana, sans-serif;
$nav-bar-color: rgba(66, 63, 63, 0.6);
$nav-bar-color-index: rgba(66, 63, 63, 0.6);
$footer-bar: rgba(66, 63, 63, 0.6);
$black: rgba(44, 44, 44, 1);

$partials-color: rgba(66, 63, 63, 0.6);

$max-width: 960px;
$min-width: 320px;

$primary-color: #345975;
$primary-light: #89aeca;

$secondary-color: rgba(35, 69, 119, 1);
$alt-color: rgba(40, 69, 119, 1);
$alt-color-light: rgba(40, 69, 119, .8);
$background-color: rgba(228, 228, 228, 0.51);


$white: rgba(255, 255, 255, 1);
$off-white: rgba(255, 255, 255, .9);
$green: rgba(49, 187,94,1);
$red: rgba(225, 37, 4, 1);

$sans-serif-font: 'Raleway';
$serif-font: 'Josefin Slab';

$light-blue: rgba(93, 173, 243, 0.9);

/*
Form style
*/
$border-style: 2px solid $light-blue ;
$border-radius: 5px;
$form-width: 20em;
$index-form-position: absolute;

/*
Home page
*/
$home-background-color: rgba(44, 44, 40, 1);
