@import 'variables';

/*Active Tab*/


.active {
  min-width: 100px;
  border: 1px solid;
  background: transparent;
  font-family: $sans-serif-font, sans-serif;
  color: $white;

  line-height: 1.7em;
  font-size: 1.0em;

  margin: auto;
  margin-top: 1em;
  margin-right: 1em;
  padding: 1%;
  padding-right: 6%;
  padding-left: 6%;

}