.chart text {
  font: 10px sans-serif;
}
.chart rect {
  stroke: white;
  fill: steelblue;
  padding: 3px;
  margin: 1px;
 }


circle {
    stroke:black;
    stroke-width:1px;
    fill:MediumSeaGreen;
    opacity:0.5;
}
    
#disease_bar_chart {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-left: 0;
  position: relative;
  width: 960px;
}

text {
  font: 10px sans-serif;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}


/*.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}*/

/*#disease_bar_chart_form {
  position: absolute;
  right: 10px;
  top: 10px;
}*/