@import 'variables';

/*
Buttons
*/

#chartoptions{
  width: 20%;
}
#zoomable_sunburst{
  margin-top: -10%;
  padding-bottom: 3%;
  margin-left: 20%;
}

.legend{
  border-radius: 4px;
}

#pageintro{
  font-size: 32;
}

.tooltip{
  background-color: white;
  padding: 10px;
  color: black;
  border-radius: 4px;
}


.btn {
  min-width: 205px;
  border: 1px solid;
  background: transparent;
  font-family: $sans-serif-font, sans-serif;
  color: $light-blue;



/*  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;*/

  line-height: 1.7em;
  font-size: 1.0em;

  margin: auto;
  margin-top: 1em;
  margin-right: 1em;
  padding: 1%;
  padding-right: 6%;
  padding-left: 6%;

}


/*button {
  border: 1px solid;
  background: transparent;
  font-family: $sans-serif-font, sans-serif;
  color: $light-blue;


  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;

  line-height: 1.7em;

  margin: auto;
  margin-top: 6%;
  padding: 1%;
  padding-right: 6%;
  padding-left: 6%;
}*/

.btn-nav {
  background: transparent;
  font-family: $sans-serif-font, sans-serif;
  color: $white;
  padding-right: 1em;
  border-radius: 1em;
  margin-right: 3%;
  float: right;

}

.btn-link {
  border: 0.1em solid;
  background: transparent;
  font-family: $sans-serif-font, sans-serif;
  min-padding: 1em;
  border-radius: 1em;
}





/*
Tables
*/

table, th, td {
   border: 1px solid rgba(32, 148, 250, 0.7);
}

th, td {
  text-align: left;
}

/*
Parallax
*/

.parallax{
  background: white;
  width: 100%;
  position: relative;
  -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
}

article {
  text-align: center;
  top: 300px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.parallaxing_font {
  color: rgba(32, 148, 250, 0.7);
  font-size: 7em;
  font-family: $sans-serif-font, sans-serif;
  text-align: center;
}

.page-title {
  color: rgba(32, 148, 250, 0.7);
  font-size: 7em;
  font-family: $sans-serif-font, sans-serif;
  text-align: center;
  text-transform:uppercase;
  margin-bottom: 15px;
  margin-top: 5px;
}

.subtitle {
  font-family: $sans-serif-font, sans-serif;
  color: rgba(60, 110, 180, 0.9);
  font-size: 2em;
  text-align: center;
  padding:0px;
}


#first {
  background: url(/images/country.jpg) 80% 0 fixed;
  background-size: cover;
  min-height: 410px;
  width: 100%;
  position: relative;
  -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
}



#second {
  background: url(/images/jazz.jpg) 80% 0 fixed;
  background-size: cover;
  min-height: 410px;
  width: 100%;
  position: relative;
  -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
}

#third {
  background: url(/images/classical.jpg) 50% 0 fixed;
  background-size: cover;
  min-height: 410px;
  width: 100%;
  position: relative;
  -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
}

#forth {
  background: url(/images/rap.jpg) 50% 0 fixed;
  background-size: cover;
  min-height: 410px;
  width: 100%;
  position: relative;
  -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
}

/* Forms */

.top-margin{
  padding-top: 8%;
}

.top-padding{
  margin-top: 15%;
}
.buttom-margin{
  margin-buttom: 10%;
}

.padding-buttom {
  margin-buttom: 10%;
}

.min-height {
  min-height: 300px;
}

/* Form Partials */

.partial_form {
  min-height: 15em;
  width: 30%;

  background-color: $partials-color;

  padding-left: 4%;
  padding-right: 4%;
  padding-top: 4%;
  padding-bottom: 4%;

  margin-top: 10%;
  margin-bottom: 7%;

  border-radius: 1em;

  overflow: hidden;
  z-index: 1;

}

.form_label {
  font-weight: bold;
  background: linear-gradient(#f1f1f1, #e2e2e2);
  width: 40%;

  color: #444;
  border: 1px solid #d4d4d4;
  line-height: 1.5em;
  border-right: 0;

  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;

  float: left;
  margin-top: 2%;

    -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  z-index: 2;
}

/*.form_field {

  box-shadow: inset 0px 2px 2px #ececec;

  width: 59%;
  padding: 1%;
  border: 1px solid #d4d4d4;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 4px;
  line-height: 1.5em;
  float: left;
  border-left: 0;
  margin-top: 2%;



  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*/
.width {
  min-width: 210px;
  max-width: 324px;
  padding: 0px;
  margin: 0px;
  border: 0px;
}
.form_field {

  box-shadow: inset 0px 2px 2px #ececec;
  margin: 0px;
  width: 60%;

  border: 1px solid #d4d4d4;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  line-height: 1.5em;
  border-left: 0;
  margin: auto;
  margin-bottom: 2%;
  margin-top: 2%;
  padding: 1%;
  padding: auto;

  z-index: 2;




  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
      box-sizing: border-box;
}

/* Index Page Element */

.enter {
  border: 1px solid;
  color: rgba(32, 148, 250, 0.7);
  background: transparent;
  margin: 20px;
  font-weight: 300;
  padding-right: 10%;
  padding-left: 10%;
  font-size: 1.5em;
}

.logo {
  color: $light-blue;
}

/*
Links
 */

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

/*
Menus
*/

#hidden_field {
  display: none;
}

.quote {
  position:relative;
  font-family: $sans-serif-font, sans-serif;
  text-align: center;
  color: $white;
  padding-top: 10%;
  padding-left: 18%;
  padding-right: 18%;
  font-weight: 300;
}
