@import 'variables';

/*
Buttons
*/

.btn {
  border: 1px solid;
  background: transparent;
  font-family: $sans-serif-font, sans-serif;
  color: $light-blue;
}

.btn-nav {
  border: 0px solid;
  background: transparent;
  font-family: $sans-serif-font, sans-serif;
}

.btn-link {
  border: 0.1em solid;
  background: transparent;
  font-family: $sans-serif-font, sans-serif;
  padding: 1em;
  border-radius: 1em;
}





/*
Tables
*/

table, th, td {
   border: 1px solid rgba(32, 148, 250, 0.7);
}

th, td {
  text-align: left;
}

/*
Parallax
*/

.parallax{
  background: white;
  width: 100%;
  position: relative;
  -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
}

article {
  text-align: center;
  top: 300px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.parallaxing_font {
  color: rgba(32, 148, 250, 0.7);
  font-size: 7em;
  font-family: $sans-serif-font, sans-serif;
  text-align: center;
}

.page-title {
  color: rgba(32, 148, 250, 0.7);
  font-size: 7em;
  font-family: $sans-serif-font, sans-serif;
  text-align: center;
  text-transform:uppercase;
  margin-bottom: 15px;
  margin-top: 5px;
}

.subtitle {
  font-family: $sans-serif-font, sans-serif;
  color: rgba(60, 110, 180, 0.9);
  font-size: 2em;
  text-align: center;
  padding:0px;
}


#first {
  background: url(/images/country.jpg) 80% 0 fixed;
  background-size: cover;
  min-height: 410px;
  width: 100%;
  position: relative;
  -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
}



#second {
  background: url(/images/jazz.jpg) 80% 0 fixed;
  background-size: cover;
  min-height: 410px;
  width: 100%;
  position: relative;
  -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
}

#third {
  background: url(/images/classical.jpg) 50% 0 fixed;
  background-size: cover;
  min-height: 410px;
  width: 100%;
  position: relative;
  -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
}

#forth {
  background: url(/images/rap.jpg) 50% 0 fixed;
  background-size: cover;
  min-height: 410px;
  width: 100%;
  position: relative;
  -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
}

/* Forms */

.top-margin{
  padding-top: 8%;
}

.top-padding{
  margin-top: 15%;
}
.buttom-margin{
  margin-buttom: 10%;
}

.padding-buttom {
  margin-buttom: 10%;
}

.min-height {
  min-height: 300px;
}

/* Form Partials */

.partial_form {
  height: 60%;
  width: 30%; 
  background-color: $partials-color;

  padding-left: 2%;
  padding-right: 2%;
  padding-top: 2%;
  padding-bottom: 2%;

  margin-top: 20%;
  margin-bottom: 20%;
  margin-left: 33%;
  margin-right: 33%;

  border-radius: 1em;
}

.form_field {
  box-shadow: inset 0px 2px 2px #ececec;

  width: 70%;
  padding: 5px;
  border: 1px solid #d4d4d4;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 4px;
  line-height: 1.5em;
  float: right;
}

.form_label {
    font-weight: bold;
  background: linear-gradient(#f1f1f1, #e2e2e2);
  padding: 5px 10px;
  color: #444;
  
  border: 1px solid #d4d4d4;
  /* lets remove the right border */
  border-right: 0;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  
  line-height: 1.5em;
  width: 30%;
  
  /* takes the width properly now and also the
  spacing between the label and input field got removed. */
  float: left;
  
  text-align: center;
  cursor: pointer;
}


/* Index Page Element */

.enter {
  border: 1px solid;
  color: rgba(32, 148, 250, 0.7);
  background: transparent;
  margin: 20px;
  font-weight: 300;
  padding-right: 10%;
  padding-left: 10%;
  font-size: 1.5em;
}

.logo {
  color: $light-blue;
}

/*
Links
 */

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

/*
Menus
*/

#hidden_field {
  display: none;
}

.quote {
  position:relative;
  font-family: $sans-serif-font, sans-serif;
  text-align: center;
  color: $white;
  padding-top: 10%;
  padding-left: 18%;
  padding-right: 18%;
  font-weight: 300;
}

