@import 'variables';
@import 'fonts';


/*.body {
  background-color: $home-background-color;
  min-height: 600px;
  position: relative;
  top: 0px;
}*/



.index-header {
  background-color: $nav-bar-color-index;
}

.content {
  height: 100%;
  min-height: 750px;
  padding-top: 8%;
  background-color: $black;
  -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
  padding-right: 2%;
  padding-left: 2%;
}

header {
  background-color: $nav-bar-color;
  max-height: 50%;
  min-height: 4.6em;
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 5;
  .brand {
    padding: 10px;
    padding-left: 9%;
    color: $white;
    font-size: 3.8em;
    font-family: $sans-serif-font, sans-serif;
    font-weight: lighter;
  }
  nav {
    padding: 10px;
    padding-right: 9%;
    margin-top: 6px;
    position: relative;
    top: 5px;
    ul{
      float: right;
      li {
        display: inline-block;
        list-style: none;
      }
    }
  }
}

.right-nav {
  min-width: 30%;
}


.container {
 height: 100%;
  margin-top: 0px;
  padding-top: 0px;
  padding-left: 8%;
  padding-right: 8%;
  position: relative;
  width: 100%;
  background-color: $nav-bar-color;
}


.footer {
  bottom:0;
  padding-top: 2%;
  padding-bottom: 2%;
  width: 100%;
  bottom: 0;
  background-color: $footer-bar;
  height: 1.5em;
  z-index: 5;
  -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
  color: $light-blue;
  font-size: 0.9em;
  font-family: $sans-serif-font, sans-serif;
  font-weight: lighter;
}




label {
  display: inline-block;
}


/*// #home-signup-form {
//   background-color: rgba(42, 42, 42, 0.8);
//   border: $border-style;
//   width: $form-width;
//   font-family: $sans-serif-font, sans-serif;
//   font-size: 1em;
//   border-radius: 5px;
//   width: 400px;
//   height: 200px;
//   position: relative;
//   padding: 2%;
//   top: 80%;
//   left: 50%;
//   z-index: 5;
//   margin-left: -200px;
//   margin-top: -200px;
//   visibility: hidden;
// }*/

/*
#home_login_form {
  background-color: rgba(42, 42, 42, 0.8);
  border: $border-style;
  width: $form-width;
  border-radius: 5px;
  width:10em;
  height: 5em;
  position: fixed;
  margin: 0 auto;
  visibility: hidden;
  z-index: 5;
}
*/
/*#main-image {
  border: 0.1em solid white;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  border-radius: 0.3em;
}*/



label#search_tag {
  font-family: $sans-serif-font, sans-serif;
  font-size: 1em;
}


input#genome_file_url::-webkit-file-upload-button {
  background: $light-blue;
  color: white;
  padding: 1em;
  border-radius: 0.3em;

}


.upload_submit {
  border: 0px solid white;
  background: $light-blue;
  font-family: $sans-serif-font, sans-serif;
  color: white;
  border-radius: 0.3em;
}

/*
Modal styling
*/
/*#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}
.form_style {
  width: 300px;
  padding: 15px 20px;
  background: #f3f6fa;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}

.new_user {
  width: 300px;
  padding: 15px 20px;
  background: #f3f6fa;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}*/
