@import 'variables';
@import 'fonts';


/*.body {
  background-color: $home-background-color;
  min-height: 600px;
  position: relative;
  top: 0px;
}*/

.body {
  background: url('dna2.jpg') no-repeat center center fixed;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.index-header {
  background-color: $nav-bar-color-index;
}

.content {
  height: 100%;
/*  min-height: 750px;
  padding-top: 8%;
  background-color: transparent;
  -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
  padding-right: 2%;
  padding-left: 2%;*/
}

header {
  background-color: $nav-bar-color;
  max-height: 50%;
  width: 20%;
  position: fixed;
  top: 400px;
  z-index: 5;
  .brand {
    padding: 10px;
    padding-left: 9%;
    color: $white;
    font-size: 2.8em;
    font-family: $sans-serif-font, sans-serif;
    font-weight: lighter;
  }
  nav {
    padding: 10px;
    padding-right: 9%;
    margin-top: 6px;
    position: relative;
    top: 5px;
    ul{
      float: right;
      li {
        display: inline-block;
        list-style: none;
      }
    }
  }
  .btn {
    color: $white;
    background-color: rgba(44, 44, 40, 1);
    border-color: $white;
    border: 0;
    border-radius: 4px;
    box-shadow: 0 5px 0 rgba(0,0,0,0.8);
    color: #fff;
    cursor: pointer;
    font: 12px sans-serif;
    margin: 0;
    outline: 0;
    padding: 5px 10px;
    transition: all .1s linear;
  }

  .btn:active {
    box-shadow: 0 2px 0 #006599;
    transform: translateY(3px);
  }
}


// .container {
/*  height: 100%;
  margin-top: 0px;
  padding-top: 0px;
  padding-left: 8%;
  padding-right: 8%;
  position: relative;
  width: 100%;
  background-color: $nav-bar-color;
}

/*.login{
  background: url('http://farm3.staticflickr.com/2832/12303719364_c25cecdc28_b.jpg') fixed;
  background-size: cover;
  padding: 0;
  margin: 0;
}*/

.footer {
  position: relative;
  bottom:0;
  padding-top: 2%;
  padding-bottom: 2%;
  width: 100%;
  bottom: 0px;
  background-color: $footer-bar;
  height: 20%;
  -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
  color: $light-blue;
  font-size: 0.9em;
  font-family: $sans-serif-font, sans-serif;
  font-weight: lighter;
  visibility: hidden;
}

/*form#new_user {
  font-family: $sans-serif-font, sans-serif;
  font-size: 1em;
  width:400px;
  border-radius:
}*/

input.form-btn-submit {
  font-size: 2em;
}

label {
  display: inline-block;
}

input#user_first_name, #user_last_name, #user_email, #user_password{
  border:1px solid #aaa;
  box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
  border-radius:0.5em;
  height:10px;
  width:100px;
  padding:5px;
  margin: 2%;
}

.new_user {
  background-color: rgba(42, 42, 42, 0.8);
/*  border: $border-style;*/
  width: $form-width;
  font-family: $sans-serif-font, sans-serif;
  font-size: 1em;
  border-radius: 5px;
  width: 400px;
  height: 200px;
  position: fixed;
  padding: 2%;
  top: 50%;
  left: 50%;
  margin-left: -200px;
  margin-top: -200px;
/*  visibility: hidden;*/
}


div.modal.login-form.hidden {
  background-color: rgba(42, 42, 42, 0.8);
  border: $border-style;
  width: $form-width;
  border-radius: 5px;
  width:300px;
  height: 155px;
  position: fixed;
  left: 50%;
  top:50%;
  margin-left: -200px;
  margin-top: -200px;
/*  visibility: hidden;*/
}

/*#main-image {
  border: 0.1em solid white;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  border-radius: 0.3em;
}*/

.pure-form {
  position: relative;
  top: 50px;
  border: $border-style;
  display: inline-block;
  padding: 2%;

}

label#search_tag {
  font-family: $sans-serif-font, sans-serif;
  font-size: 1em;

}

input#search-button {
  border: 0px solid white;
  background: $light-blue;
  font-family: $sans-serif-font, sans-serif;
}

input#genome_file_url::-webkit-file-upload-button {
  background: $light-blue;
  color: white;
  padding: 1em;
  border-radius: 0.3em;

}


.upload_submit {
  border: 0px solid white;
  background: $light-blue;
  font-family: $sans-serif-font, sans-serif;
  color: white;
  border-radius: 0.3em;
}

/*
Modal styling
*/
/*#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}
.form_style {
  width: 300px;
  padding: 15px 20px;
  background: #f3f6fa;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}

.new_user {
  width: 300px;
  padding: 15px 20px;
  background: #f3f6fa;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}*/
