@import 'variables';
@import 'fonts';

.body {
  background-color: $home-background-color;
  min-height: 600px;
  position: relative;
  top: 0px;
}

.index-header {
  background-color: $nav-bar-color-index;
}

.content {
  height: 100%;
  min-height: 750px;
  padding-top: 8%;
  background-color: $home-background-color;
  -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
  padding-right: 2%;
  padding-left: 2%;
}

header {
  background-color: $nav-bar-color;
  max-height: 50%;
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 5;
  .brand {
    padding: 10px;
    padding-left: 9%;
    color: $white;
    font-size: 2.8em;
    font-family: $sans-serif-font, sans-serif;
    font-weight: lighter;
  }
  nav {
    padding: 10px;
    padding-right: 9%;
    margin-top: 6px;
    position: relative;
    top: px;
    ul{
      float: right;
      li {
        display: inline-block;
        list-style: none;
      }
    }
  }
  .btn {
    color: $white;
    border-color: $white;
  }
}


.container {
  height: 100%;
  margin-top: 0px;
  padding-top: 0px;
  padding-left: 8%;
  padding-right: 8%;
  position: relative;
  width: 100%;
  background-color: $nav-bar-color;
}

.login{
  background: url('http://farm3.staticflickr.com/2832/12303719364_c25cecdc28_b.jpg') fixed;
  background-size: cover;
  padding: 0;
  margin: 0;
}

.footer {
  position: relative;
  bottom:0;
  padding-top: 2%;
  padding-bottom: 2%;
  width: 100%;
  bottom: 0px;
  background-color: $footer-bar;
  height: 20%;
  -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
  color: $light-blue;
  font-size: 0.9em;
  font-family: $sans-serif-font, sans-serif;
  font-weight: lighter;
}

.new_user {
  border: $border-style;
  width: $form-width;
  border-radius: 5px;
  width:300px;
  height: 155px;
  position: absolute;
  left: 70%;
  top:80%;
  margin-left: -50px;
  margin-top: -50px;
/*  visibility: hidden;*/
}

div.modal.login-form.hidden {
  border: $border-style;
  width: $form-width;
  border-radius: 5px;
  width:300px;
  height: 155px;
  position: absolute;
  left: 15%;
  top:80%;
  margin-left: -50px;
  margin-top: -50px;
/*  visibility: hidden;*/
}

#main-image {
  border: 0.1em solid white;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  border-radius: 0.3em;
}

.pure-form {
  position: relative;
  top: 50px;
  border: $border-style;
  display: inline-block;
  padding: 2%;

}

label#search_tag {
  font-family: $sans-serif-font, sans-serif;
  font-size: 1em;

}

input#search-button {
  border: 0px solid white;
  background: $light-blue;
  font-family: $sans-serif-font, sans-serif;
}

input#genome_file_url::-webkit-file-upload-button {
  background: $light-blue;
  color: white;
  padding: 1em;
  border-radius: 0.3em;

}

.upload_submit {
/*  border: 0px solid white;*/
  background: $light-blue;
  font-family: $sans-serif-font, sans-serif;
  color: white;
  border-radius: 0.3em;
}

/*
Modal styling
*/


