@import 'variables';

/*
Positioning
*/

.center {
  margin-left: auto;
  margin-right: auto;
}

.left {
  position: relative;
  float: left;
}

.right {
  position: relative;
  float: right;
}

.clearfix {
  overflow: auto;
}

