<% if @category %>
<h2><%= @category.name %></h2>
  <% @category.diseases.each do |disease| %>
    <% if @diseases.include?(disease.name) %>
      <p><%= link_to "#{disease.name}", disease_path(disease) %></p>
    <% end %>
  <% end %>
<% end %>
